assets/
images/
htmls/
dump.tar/
*.bat
*.txt
*.exe
temp.py
how-to.md
traits.json
DELETE FROM prestashop.ps_product*
features_x_products.sql
rollback.sql
scripts/product_import/product_insert_template.sql
prestashop/html2
